@use 'variables' as *;
@use 'reset' as *;
@use 'typography' as *;
@use 'animations' as *;

// Global Layout Class
.u-content {
    position: relative;
    z-index: var(--z-base);
    width: 100%;
}

.u-full {
    width: 100%;
    height: 100vh;
}

.gl-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: var(--z-webgl);
    pointer-events: none;
}